/*Footer*/ 
.footer{
	background: #050c1d url('../img/bg/footer_bg.jpg') 0 0 no-repeat;
	background-size: cover;
	padding: 40px 0;
	margin-top: 50px;
	.logo{
		display: inline-block;
		margin-bottom: 20px;
	}
	
	.copyright{
		color: #777;
		font-size: 12px;
		text-align: right;
		a{
			color: currentColor;
			&:hover{
				color: #fff;
			}
		}
	}
}
.footer__right{
	.main-menu{
		margin-bottom: 35px;
		padding-right: 0;
		li{
			padding: 0 1.5em;
			&:last-child{
				padding-right: 0;
			}
			a{
				color: #fff;
				&::after{
					display: none;
				}
				&.blue{
					color: var(--blue);
					&:hover{
						color: #fff;
					}
				}
				&:hover{
					color: var(--blue);
					&.btn{
						color: #fff
					}
				}

			}
		}
	}
}
.header-form-container{
	display: none;
}
#overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(#000, .7);
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s;
	z-index: 10;
	&.active{
		visibility: visible;
		opacity: 1;
	}
}
.mobile-menu{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff url('../img/bg/mobile-menu_bg.jpg') 0 0 no-repeat;
	background-size: cover;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 40px;
	overflow-y: auto;
	transform: translateY(-120%);
	visibility: hidden;
	z-index: 20;
	&.active{
		transform: translateY(0);
		visibility: visible;
	}
}
.close{
	position: absolute;
	top: 35px;
	left: 30px;
	width: 25px;
	height: 25px;
	z-index: 2;
	&::before,
	&::after{
		content: '';
		width: 100%;
		height: 2px;
		background-color: #000;
		position: absolute;
		top: 50%;
		left: 0;
	}
	&::before{
		transform: rotate(45deg);
	}
	&::after{
		transform: rotate(-45deg);
	}
}