:root{
	--violet: #330847;
	--blue: #3567df;
	--grey: #9d9d9d;
	--black: #191b25;
	--border-color: #d4d5d7;
	--border-color-grey: #a9a9a8;

	--grey-bg: #f7f7f7;

	--opensans: "OpenSans" ,sans-serif;
	--ginora: "Ginora", sans-serif;

	--blue-gradient: linear-gradient(to bottom, #3567df 0%, #1b52d4 100%);
}
html, body{
	min-height: 100%;
}
html{
	font-size: 10px;
}
body{
	background-color: #fff;
	font-family: var(--opensans);
	font-weight: 400;
	color: var(--black);
	font-size: 1.4em;
}
.noscroll{
	overflow: hidden !important;
}
a{
	color: var(--black);
	transition: all .2s;
}
.wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.container{
}
.main{
	flex: 1 0 auto;
}
.footer{
	flex: 0 0 auto;
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	&--wrap{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	&--center{
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	&--between{
		-webkit-box-pack: justify;
		-moz-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

}
.justify{
	&--end{
		justify-content: flex-end;
	}
}

.btn{
	display: inline-block;
	font-size: 1em;
	text-transform: uppercase;
	padding: 1em 2em;
	border-radius: 5px;
	color: var(--blue);
	font-weight: 600;
	position: relative;
	overflow: hidden;
	span{
		position: relative;
		z-index: 1;
	}
	&--simple{
		background-color: transparent;
		&:hover{
			box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
			transform: translateY(-3px);	
			box-shadow: 0 6px 15px -2px rgba(0, 0, 0, 0.2);	
		}
		&:active{
			opacity: 1;
			transform: translateY(0);
			box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2)
		}
		
	}
	&--blue{
		color: #fff;
		box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), inset 0 3px 3px rgba(80, 125, 232, 0.53);
		background: var(--blue-gradient);
		&:hover{
			opacity: .9;
			transform: translateY(-3px);	
			box-shadow: 0 6px 7px -2px rgba(0, 0, 0, 0.6);	
		}
		&:active{
			opacity: 1;
			transform: translateY(0);
			box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2)
		}
	}
	&--lg{
		font-size: 1.0714em;
	}
}


.svg-sprite{
	display: none;
}
::-webkit-input-placeholder {font-family: var(--opensans);font-size: 14px;color: var(--grey);  }
::-moz-placeholder          {font-family: var(--opensans);font-size: 14px;color: var(--grey);  } /* Firefox 19+ */
:-moz-placeholder           {font-family: var(--opensans);font-size: 14px;color: var(--grey);  } /* Firefox 18- */
:-ms-input-placeholder      {font-family: var(--opensans);font-size: 14px;color: var(--grey);  }

// Для стилей автозаполнения полей
// @-webkit-keyframes autofill {
//     to {
//         color: #fff;
//         background: transparent;
//     }
// }

// input:-webkit-autofill {
//     -webkit-animation-name: autofill;
//     -webkit-animation-fill-mode: both;
// }

/* хром, сафари */
.element::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.element { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.element { overflow: -moz-scrollbars-none; }







