:root{
	--violet: #330847;
	--blue: #3567df;
	--dark-blue: #2a5eda;
	--grey: #9d9d9d;
	--grey-dark: #676767;
	--grey-bg: #f7f7f7;
	--black: #191b25;
	--red: #ff0128;
	--green: #32bc7c;
	--border-color: #d4d5d7;
	--border-color-grey: #a9a9a8;

	--box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);

	--grey-bg: #f7f7f7;

	--opensans: "OpenSans" ,sans-serif;
	--ginora: "Ginora", sans-serif;

	--blue-gradient: linear-gradient(to bottom, #3567df 0%, #1b52d4 100%);
}
html, body{
	height: 100%;
}
html{
	font-size: 14px;
	line-height: 1;
}
body{
	background-color: #fff;
	font-family: var(--opensans);
	font-weight: 400;
	color: var(--black);
}
.noscroll{
	overflow: hidden !important;
}
form{
	width: 100%;
}
img{
	max-width: 100%;
}
a{
	color: var(--black);
	transition: all .2s;
}
.wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
.container{
}
.main{
	flex: 1 0 auto;
}
.footer{
	flex: 0 0 auto;
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	&--wrap{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	&--center{
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	&--between{
		-webkit-box-pack: justify;
		-moz-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	&--column{
		flex-direction: column;
	}
	&--justify-end{
		justify-content: flex-end;
	}

}
.justify{
	&--end{
		justify-content: flex-end;
	}
	&--center{
		justify-content: center;
	}
}


.more{
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}
.h1{
	font-size: 36px;
}
.h2{
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Ginora", sans-serif;
	margin-bottom: 1.25em;
	b, strong{
		font-weight: 600;
	}
}

.border{
	border: 1px solid var(--border-color);
	border-radius: 5px;
}

.blue{
	color: var(--blue);
}
.blue-bg{
	background-color: var(--blue);
}
.red-bg{
	background-color: var(--red);
}
.grey-bg{
	background-color: var(--grey-bg);
}
.grey{
	color: var(--grey-dark);
}

.text-center{
	text-align: center;
}
.margin-top{
	margin-top: 50px;
}
.dollar{
	&::before{
		content: '$';
		display: inline-block;
		padding-right: 2px;
	}
}

.ico{
	display: inline-block;
	width: 16px;
	height: 16px;
	svg{
		width: 100%;
		height: 100%;
		vertical-align: top;
	}
}
.no-margin{
	margin: 0;
}
.svg-sprite{
	display: none;
}
::-webkit-input-placeholder {font-family: var(--opensans);font-size: 12px;color: var(--grey);text-transform: uppercase;line-height: 1;transform: translateY(-1px);  }
::-moz-placeholder          {font-family: var(--opensans);font-size: 12px;color: var(--grey);text-transform: uppercase;line-height: 1;transform: translateY(-1px);  } /* Firefox 19+ */
:-moz-placeholder           {font-family: var(--opensans);font-size: 12px;color: var(--grey);text-transform: uppercase;line-height: 1;transform: translateY(-1px);  } /* Firefox 18- */
:-ms-input-placeholder      {font-family: var(--opensans);font-size: 12px;color: var(--grey);text-transform: uppercase;line-height: 1;transform: translateY(-1px);  }


@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  50% {
    -webkit-transform: scale3d(.95, .95, .95);
    transform: scale3d(.95, .95, .95);
  }
  70% {
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
    transform: scale3d(1.04, 1.04, 1.04);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
// Для стилей автозаполнения полей
// @-webkit-keyframes autofill {
//     to {
//         color: #fff;
//         background: transparent;
//     }
// }

// input:-webkit-autofill {
//     -webkit-animation-name: autofill;
//     -webkit-animation-fill-mode: both;
// }

/* хром, сафари */
.element::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.element { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.element { overflow: -moz-scrollbars-none; }







