/*media*/ 
@media(max-width: 1600px){
	.models-avatar{
		img{
			width: 100%;
			height: 100%;
			position: relative;
			top: 0;
			left: 0;
			transform: translate(0, 0);
		}
		.social{
			bottom: 3em;
		}
	}
	
	.models-slider__item .models-img img{
		width: 60px;
		height: 60px;
	}
	.models-slider__item .models-name{
		font-size: 9px;
	}
	.models-slider .prev-arrow, .models-slider .next-arrow{
		width: 40px;
		height: 40px;
		top: 25px;
		&::before{
			width: 1.1em;
			height: 1.1em;
		}
	}

	.models-menu, .models-menu.nav,
	.models-menu .nav-item .nav-link, .models-menu.nav .nav-item .nav-link{
		font-size: 14px;
	}
	.models-menu{
		justify-content: center;
		overflow-x: auto;
		overflow-y: hidden;
		height: 70px;
	}
	.models-menu__title .bage{
		width: 20px;
		height: 20px;
	}
	.model__item__options li,
	.tag-list{
		font-size: 12px;
	}
}
/*1600*/ 

@media(max-width: 1500px){
	html{
		font-size: .8vw;
	}
	.logo{
		img{
			width: 120px;
		}
	}
	.footer{
		.logo{
			width: 180px;
			margin-bottom: 40px;
			img{
				width: 180px;
			}
		}
	}
	.models-slider-block,
	.models-menu-block{
		.col-sm-9.offset-lg-3{
			margin-left: 0;
			width: 100%;
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
	.models-slider-block{
		.col-xl-10{
			margin-left: 0 !important;
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
	.main-menu li,
	.btn{
		font-size: 1.4rem;
	}
	.models-avatar{
		transform: translateY(0);
	}
	.models-header{
		padding: 30px 0;
		.col-sm-3.justify--end{
			justify-content: center;
			align-items: center;
		}
	}
	.models-header__title{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.tab-list .nav-link{
		font-size: 13px;
	}
}
/*1500*/
@media(max-width: 1280px){
	html{
		font-size: .7vw;
	}
	header{
		padding: 20px 0;
	}
	.desctop{
		display: none !important;
	}
	.mobile-btn{
		display: block;
	}
	.header-form{
		height: 34px;
		width: 250px;
	}
	.header-input{
		height: 34px;
		font-size: 15px;
	}
	.main-menu{
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		li,
		li.home-li{
			padding: 0;
			font-size: 16px;
			width: 100%;
			margin-bottom: 2px;
			a{
				padding: 15px 30px;
				display: block;
				&.active,
				&:active{
					background-color: var(--blue);
					color: #fff;
				}
				&::after{
					display: none;
				}
			}
		}

	}
	.header-btns{
		margin-top: 40px;
		width: 100%;
		justify-content: space-between;
		padding: 0 20px;
		margin-left: 0;
		.btn{
			width: 48%;
			font-size: 14px;
			text-align: center;
			&--simple{
				background-color: #fff;
				box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
			}
		}
	}
	.models-header__options li{
		font-size: 2rem;
	}
	.models-header__btns .btn{
		font-size: 1.8rem;
	}
	.models-avatar{
		width: 100%;
		height: auto;
		img{
			height: auto;
			max-width: 300px;
			margin: 0 auto;
		}
		.social{
			position: relative;
			bottom: 0;
			left: 0;
			margin-top: 30px;
		}
	}
	.social li a{
		width: 25px;
		height: 25px;
		background-color: rgba(#000, .7);
		border: 1px solid #fff;
	}
	.social-icon{
		width: 60%;
		height: 60%;
	}
	::-webkit-input-placeholder {font-family: var(--opensans);font-size: 15px;color: var(--grey);line-height: 1;  }
::-moz-placeholder          {font-family: var(--opensans);font-size: 15px;color: var(--grey);line-height: 1;  } /* Firefox 19+ */
:-moz-placeholder           {font-family: var(--opensans);font-size: 15px;color: var(--grey);line-height: 1;  } /* Firefox 18- */
:-ms-input-placeholder      {font-family: var(--opensans);font-size: 15px;color: var(--grey);line-height: 1;  }

	.call-to-action--lt .cta-item:not(:last-child){
		margin-right: 5px;
	}
	.call-to-action--lt .cta-item{
		font-size: 10px;
	}
	.cta-item .ico{
		margin-right: 4px;
	}
	.call-to-action--lt .ico{
		margin-right: 2px;
	}
	.footer__right{
		.main-menu{
			flex-direction: row;
			align-items: center;
		}
		.main-menu li, .main-menu li.home-li{
			font-size: 12px;
			width: auto;
			a{
				padding: 0;
				&.btn{
					padding: 10px 15px;
				}
				&.active,
				&:active{
					background-color: transparent;
				}
			}
		}
	}
	.footer__left{
		.social li a{
			width: 30px;
			height: 30px;
		}
	}
	.about-content__top .location{
		font-size: 13px;
	}
	.models-menu{
		justify-content: flex-start;
	}
	.models-menu__title{
		white-space: nowrap;
	}
	.main-menu li, .btn{
		font-size: 1.6rem;
	}
	.model-item--rounded .model__item__options{
		opacity: 1;
		visibility: visible;
	}
	.model__item__options--lg .count{
		font-size: 13px;
	}
	.model__item__options--lg .subtitle{
		font-size: 10px;
	}
} 
/*1280*/ 


@media(max-width: 1200px){
	.title-row{
		.h2{
			margin-bottom: 15px;
		}
	}
}
/*1200*/ 

@media(max-width: 992px){
	html{
		font-size: 14px;
	}
	.filter-row{
		justify-content: space-between;
	}
	.filter__item{
		width: 48%;
		margin-bottom: 15px;
		flex-grow: 1;
		flex-wrap: wrap;
		.select{
			width: 100%;
		}
	}
	.filter__item:not(:last-child){
		margin-right: 0;
		max-width: 48%;
	}
	.filter__item__title{
		width: 100%;
		margin-right: 0;
		margin-bottom: 5px;
	}
	.form-group{
		.filter__item{
			width: 100%;
			margin-bottom: 0;
			flex-grow: 0;
		}
	}
	.masonry-container{
		.grid-sizer,
		.model-item{
			width: calc(33.3333% - 15px);
		}
	}
	.model__item__row{
		flex-wrap: wrap;
	}
	.main-menu li, .btn{
		font-size: 14px;
	}
	.call-to-action--lt .cta-item,
	.model-item__photo .format,
	.model-item__photo .duration{
		font-size: 9px;
	}
	.model__item__row{
		flex-wrap: nowrap;
	}
	.btn span{
		white-space: nowrap
	}
	.models-header__options li{
		font-size: 24px;
	}
	.filter__item .select.w-90{
		width: 100% !important;
	}
	.tab-list{
		.nav-link{
			font-size: 14px;
		}
	}
	.carousel-control-next,
	.carousel-control-prev{
		width: 10%;
		justify-content: flex-start;
	}
	.carousel-control-next{
		transform: translateX(0) rotate(180deg);
	}
	.carousel-control-prev{
		transform: translateX(0);
	}
	.carousel-control-prev-icon, .carousel-control-next-icon{
		width: 30px;
		height: 50px;
	}
	.header{
		position: relative;
	}
	.search-block{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// display: flex;
		align-items: center;
	}
}
/*992*/ 

@media(max-width: 768px){
	.models-header__data{
		flex-direction: column;
		align-items: flex-start;
	}
	.models-header__options{
		margin-bottom: 20px;
		li{
			margin-right: 1em;
			padding-right: 1em;
		}
	}
	.models-header__btns .btn{
		font-size: 14px;
	}
	html{
		font-size: 10px;
	}
	.footer__right .main-menu li{
		padding: 0 .5em;
	}
	.about-content__data{
		.models-header__options li{
			font-size: 2rem;
			margin-right: 1em;
			padding-right: 1em;
		}
	}
	.about-content__top{
		.col-auto{
			width: 100%;
			&:not(:last-child){
				margin-bottom: 15px;
			}
		}
	}
	.models-menu, .models-menu.nav, .models-menu .nav-item .nav-link, .models-menu.nav .nav-item .nav-link{
		font-size: 1rem;
	}
}
/*768*/ 

@media(max-width: 767px){
	.masonry-container{
		.grid-sizer,
		.model-item{
			width: calc(50% - 15px);
		}
	}
	.footer__left{
		width: 100%;
		text-align: center;
		.social{
			justify-content: center;
		}
	}
	.footer__right{
		margin-top: 30px;
		width: 100%;
	}
	.footer .copyright{
		text-align: center;
		line-height: 1.5;
	}
	.footer__right .main-menu{
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		li{
			margin-bottom: 10px;
		}
	}
	.model-data-table-wrapper{
		flex-wrap: wrap;
		.model-data-table{
			width: 100%;
			padding: 0 20px 30px;
		}
	}

	.model-data-table-wrapper .model-data-table:not(:last-child){
		border-right: none;
		border-bottom: 1px solid var(--border-color);
		margin-bottom: 30px;
	}
	.model-data-table{
		width: 100%;
		font-size: 13px;
	}
	.header-form-container{
		display: block;
	}
	.header-form.tablet{
		display: none !important;
	}
	.tab-list{
		.nav-link{
			font-size: 12px;
		}
	}
	.footer__right{
		display: flex;
		flex-direction: column;
		align-items: center;
		.social{
			margin-bottom: 40px;
			li{
				a{
					width: 30px;
					height: 30px;
					border: none;
				}
			}
		}
	}
	.footer__right .main-menu{
		margin-bottom: 0;
	}
	.footer__right .main-menu li{
		padding: 0 .7em;
		margin-bottom: 30px;
	}
	.footer__right .main-menu li:last-child,
	.footer__right .main-menu li:nth-last-child(2){
		width: 30%;
		text-align: center;
	}
	.page-link.prev-page, .page-link.next-page{
		width: 40px;
		height: 40px;
		padding: .5rem;
	}
	.page-link.prev-page{
		margin-right: 10px;
	}
	.page-link.next-page{
		margin-left: 10px;
	}
	.premium-text + .btn{
		font-size: 12px;
	}
	.filter-container{
		padding-top: 20px;
		margin-top: 20px;
		position: relative;
		&::before{
			content: '';
			width: calc(100% + 30px);
			left: -15px;
			top: 0;
			position: absolute;
			height: 1px;
			background-color: #e5e5e5;
		}
	}
	.filter-container{
		display: none !important;
		&.visible{
			display: -webkit-flex !important;
			display: -moz-flex !important;
			display: -ms-flex !important;
			display: -o-flex !important;
			display: flex !important;
		}
		.search-form{
			max-width: 300px;
		}
		.form-group{
			width: 47%;
		}
	}
	.option-row .tab-list .nav-item:first-child .nav-link{
		border-radius: 5px 0 0 5px
	}
	.tab-list .nav-item:last-child .nav-link{
		border-radius: 0 5px 5px 0
	}
	.option-row .nav-tabs{
		border: none;
	}
	.option-row .page-features{
		padding-bottom: 20px;
	}
	.option-row .tab-list .nav-link{
		border-bottom: 1px solid var(--border-color);
	}
	.option-row .tab-list .nav-link.active::after{
		display: none;
	}

}
/*767*/ 

@media(max-width: 575px){
	.models-header{
		background-position: center;
	}
	.models-header__title{
		justify-content: center;
	}
	.models-header-descr{
		margin-top: 30px;
	}
	.models-header__descr{
		text-align: center;
	}
	.models-header__data{
		align-items: center;
	}
	.models-header__options{
		flex-wrap: wrap;
		justify-content: center;
		font-size: 18px;
		transform: translateX(1.5em);
		li{
			font-size: 1em;
			margin-bottom: 15px;
		}
	}
	.models-header::after{
		height: 75%;
	}
	.tab-list .nav-link{
		padding: 15px;
	}
	
	.header{
		.logo{
			width: 32px;
			overflow: hidden;
			img{
				width: 100px;
				max-width: none;
			}
		}
	}
	.header .submenu {
		.avatar{
			width: 100px;
			height: 100px;
			border-radius: 50%;
			margin-right: 15px;
			border: 1px solid #fff;
			box-shadow: 0 3px 10px rgba(#000, .2);
			img{
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}
		}
		.user-name{
			font-size: 24px;
			text-transform: capitalize;
			margin-bottom: 3px;
		}
		.location{
			text-transform: capitalize;
			font-size: 12px;
			.ico{
				color: #000;
			}
		}
	}
	.header{
		.options{
			.submenu{
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				overflow-y: auto;
				background:transparent url('../img/bg/mobile-menu_bg.jpg') left top no-repeat;
				background-size: cover;
				padding-top: 80px;
				a{
					color: #330847;
					padding: 25px 20px 25px 60px;
					.ico{
						color: currentColor
					}
					.text{
						font-size: 16px;
						text-transform: uppercase;
					}
				}
				.close{
					top: 10px;
					left: 30px;
					padding: 0;
					&:hover{
						background-color: transparent;
					}
				}
			}
		}
	}
	.submenu-close-li{
		position: absolute;
		top: 30px;
		height: 30px;
	}
	.main-menu li a, .main-menu li.home-li a{
		padding-left: 60px;
	}
	.header-options__item:not(:first-child){
		margin-left: 25px;
	}
}
/*575*/ 


@media(max-width: 568px){
	.header-content {
		flex-wrap: wrap;
	}
	.tablet{
		display: none !important;
	}
	
	.header-form{
		width: 100%;
	}
	.header-form-container{
		padding: 20px;
	}
	.call-to-action--lt .ico{
		margin-right: 4px;
	}
	.call-to-action--lt .cta-item:not(:last-child){
		font-size: 10px;
	}
	.paginator{
		li:first-child,
		li:last-child{
			width: 100%;
			a{
				width: 100%;
				margin: 0;
			}
		}
	}
	.masonry-container{
		.grid-sizer,
		.model-item{
			width: calc(50% - 15px);
		}
	}
	.models-menu{
		padding-left: 10px;
		padding-right: 10px;
	}
	.models-menu, .models-menu.nav, .models-menu .nav-item .nav-link, .models-menu.nav .nav-item .nav-link{
		font-size: 12px;
	}
	.legal-user .avatar{
		width: 30px;
		height: 30px;
	}
	.legal-user .dots{
		margin-left: 10px;
	}
	.logo{
		width: 90px;
	}
	.model-item__photo__small{
		width: 80px;
		height: 80px;
	}
	.model-item__photo > a > img{
		height: 240px;
		object-fit: cover;
	}
	.model__item__options li, .tag-list{
		font-size: 14px;
	}
	.call-to-action--lt .cta-item, .model-item__photo .format, .model-item__photo .duration{
		font-size: 12px;
	}
}
/*568*/ 
@media(max-width: 520px){
	.masonry-container{
		.grid-sizer,
		.model-item{
			width: 100%;
		}
	}
}

@media(max-width: 450px){
	.tab-list .nav-link{
		padding: 10px 12px;
	}
	.filter-btn{
		width: 40px;
		height: 40px;
	}
}
/*450*/ 

@media(max-width: 400px){
	.models-header__btns {
		flex-direction: column;
	}
	.models-header__btns .btn:not(:last-child){
		margin-right: 0;
		margin-bottom: 15px;
	}
	.models-avatar img{
		max-width: 200px;
	}
	.logo{
		width: 70px;
	}
	.mobile-btn{
		margin-right: 15px;
	}
	.header-options{
		padding-left: 0;
	}
	.header-options__item{
		margin-left: 0;
		&:not(:first-child){
			margin-left: 25px;
		}
	}
	.legal-user .dots{
		margin-left: 5px;
	}
	.tab-list .nav-link{
		font-size: 10px;
		padding: 10px;
	}
	.filter-btn{
		width: 36px;
		height: 36px;
	}
	::-webkit-input-placeholder {font-family: var(--opensans);font-size: 12px;color: var(--grey);text-transform: capitalize;line-height: 1;  }
	::-moz-placeholder          {font-family: var(--opensans);font-size: 12px;color: var(--grey);text-transform: capitalize;line-height: 1;  } /* Firefox 19+ */
	:-moz-placeholder           {font-family: var(--opensans);font-size: 12px;color: var(--grey);text-transform: capitalize;line-height: 1;  } /* Firefox 18- */
	:-ms-input-placeholder      {font-family: var(--opensans);font-size: 12px;color: var(--grey);text-transform: capitalize;line-height: 1;  }

}
/*400*/ 

@media(max-width: 360px){
	.nav-tabs,
	.filter-btn{
		width: 100%;
	}
	.filter-btn{
		margin-top: 10px;
	}
	.tab-list .nav-item{
		flex-grow: 1;
	}
	.header-options__item:not(:first-child){
		margin-left: 20px;
	}
}