/*models-menu*/ 
.models-menu-block{
	background-color: var(--grey-bg);
	border-bottom: 1px solid var(--border-color);
}
.models-menu,
.models-menu.nav{
	margin: 0 -2.5714em;
	height: 5.7142em;
	.nav-item{
		position: relative;
		padding: 0 2.5714em;
		
		.nav-link{
			color: var(--violet);
			text-align: center;
			font-size: 1rem;
			position: relative;
			display: flex;
			align-items: center;
			height: 100%;
			background-color: transparent;
			&::after{
				content: '';
				width: 150%;
				height: 2px;
				background-color: #3567df;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -1px;
				opacity: 0;
				transition: all .3s;
			}
			&.active,
			&:hover{
				&::after{
					opacity: 1;
				}
				.models-menu__title{
					color: blue
				}
			}
		}
		.count{
			font-size: .7857em;
			text-transform: uppercase;
			letter-spacing: 0.55px;
			color: var(--grey-dark);
			margin-top: .5em;
			position: absolute;
			bottom: 1em;
			left: 0;
			right: 0;
			text-align: center;
		}
	}
}
.models-menu__title{
	text-transform: uppercase;
	font-weight: 600;
	transition: color .3s;
	display: flex;
	align-items: center;
	.bage{
		flex: none;
		font-size: .7857em;
		width: 1.25rem;
		height: 1.25rem;
		color: #fff;
		border-radius: 50%;
		background-color: var(--red);
		margin-left: .75em;
		line-height: 1;
	}
}













